body {
	font-family: Roboto;
	height: 100%;
	width: 100%;
		margin: 0;
		padding: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
	background-color: black;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: normal;
	border: 1px solid #00bf8f;
	position: top;
	position: sticky;

	
}

#verb-form {
	background-color: #00bf8f;
	top: 0;
	position: sticky;
	z-index:100;
	
}

#update-form {
	background-color: #00bf8f;
	top: 0;
	position: sticky;
	z-index:100;
}

#submit {
	background-color: black;
	border: 3px solid #00bf8f;
	border-radius: 10px;
	width: 100%;
	color: #00bf8f;
	height: 50px;
	font-size: 20px;
}

#submit:active {
	background-color: #00bf8f;
	border-color: black;
	color: black;
}

#updateButtonDiv {
	display: flex;
	background-color: black;
}

#update {
  background-color: black;
	border: 2px solid rgb(42, 220, 240);
	border-radius: 5px;
	width: 50%;
	color: rgb(42, 210, 240);
	height: 50px;
	font-size: 20px;
}

#cancelUpdate {
	background-color: black;
	border: 2px solid white;
	border-radius: 5px;
	width: 50%;
	color: white;
	height: 50px;
	font-size: 20px;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

li {
	background-color: white;
	line-height: 6vh;
	color: black;
	height: 6vh;
	min-height: 50px;
	font-size: 15px;
	font-weight: 700;
	margin: 0;
	padding-left: 5px;
	border: 1px solid black;
	
}

.liDiv {
	padding: 0;
	margin: 0;
}

.inFocus {
	
	padding: 0;
	margin: 0;
	border-bottom: 3px solid black;
	border-radius: 25px;
	overflow: hidden;
}


.liHidden {
	background-color: rgb(32, 32, 32);
	line-height: 6vh;
	color: white;
	height: 6vh;
	min-height: 50px;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	border-top: none;
	
}

.reveal i {
	float: right;
	text-align: center;
	line-height: 5vh;
	position: relative;
  /* Adjust these values accordingly */
  top: 5px;
	left: -5px;
	width: 40px;
}

.done i {
	float: right;
	text-align: center;
	line-height: 5vh;
	position: relative;
        top: 5px;
        left: -5px;
	width: 40px;
	
}

.edit i {
	line-height: 6vh;
	height: 6vh;
	min-height: 49px;
	margin-right: 5px;
	text-align: center;
	color: rgb(42, 210, 240);
	width: 40px; 
	position: relative;
        top: 5px;
	margin: auto;
}

.trash i {
	line-height: 6vh;
	height: 6vh;
	min-height: 49px;
	margin-right: 5px;
	text-align: center;
	color: rgb(219, 50, 50);
	width: 40px; 
	position: relative;
        top: 5px;
	margin: auto;
}



.liHidden .reward i {
	
	color: #00bf8f;
	text-align: center;
	line-height: 5vh;
	position: relative;
	top: 5px;
	width: 40px;
	margin:auto;
}

.liHidden .star i {
	
	color: #a155e7;
	text-align: center;
	line-height: 5vh;
	position: relative;
        top: 5px;
	margin: auto;
	width: 40px;
}

.initHidden {
	display: none;
}



input {
	font-size: 40px;
	background-color: black;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
	color: #00bf8f;
	border: 1px solid #00bf8f;
	height: 10vh;
}

input:focus{
	border: 3px solid #00bf8f;
	outline: none;

}


#toggleForm {
	float: right;
}


.criticalIcon i {
	color: black;
	display: none;
}

.critical {
	background-color: #a155e7;
	color: black;
}


.critical .criticalIcon i {
	/* color: #e7280f; */
	float: right;
	line-height: 5vh;
	position: relative;
  /* Adjust these values accordingly */
  top: 6px;
	left: 0px;
	width: 40px;
	display: block;
}


.bonusIcon i {
	color: black;
	display: none;
}

.bonus {
	background-color: #00bf8f;
	color: black;
}


.bonus .bonusIcon i {
	float: right;
	line-height: 5vh;
	position: relative;
	top: 6px;
	left: 2px;
	width: 40px;
	display: block;
}


#container {
	width: 100vw;
	background-color: black;
	border-bottom: white solid 1px;
}









